#ele1{
    width: 874px;
    height: 588.75px;
    top: 79px;
    left: 22px;
    position: absolute;
   
}
#ele2{
width: 465px;
height: 90px;
bottom: 117px;
left: 140px;
position: absolute;
font: normal normal 300 16px/30px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
}
#ele3{
    bottom: 67.2px;
    left: 140px;
    position:  absolute;
    width: 37.11px;
    height: 37.11px;
}
#ele4{
    bottom: 67.2px;
    left: 188.48px;
    position:  absolute;
    width: 37.11px;
    height: 37.11px;
}
#ele5{
    bottom: 67.13px;
    left: 236.96px;
    position:  absolute;
    width: 37.04px;
    height: 37.04px;
}
#ele6{
    width: 17.96px;
    height: 18.14px;
    left: 246.56px;
    bottom: 76.43px;
    position:  absolute;
}
#ele7{
    width: 127px;
height: 28px;
bottom: 233px;
right: 994px;
position: absolute;
font: normal normal 600 20px/81px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
}
#ele8{
    width: 92px;
height: 28px;
bottom:233px;
right: 749px;
position: absolute;
font: normal normal 600 20px/81px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
}
#ele9{
    width: 112px;
height: 28px;
bottom: 233px;
right:421px ;
position:  absolute;
font: normal normal 600 20px/81px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
}
#ele12 {
    width: 253px;
height: 177px;
text-align: left;
font: normal normal 300 16px/30px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
bottom: 26px;
right: 281px;
position: absolute;
}
#ele11{
    width: 233px;
height: 177px;
text-align: left;
font: normal normal 300 16px/40px Poppins;
letter-spacing: 0px;

color: #FFFFFF;
position:  absolute;
bottom: 26px;
right:608px ;
}
#ele10{
    width: 233px;
height: 185px;
text-align: left;
font: normal normal 300 16px/40px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
position: absolute;
bottom: 18px;
left: 799px;
}
#ele13{
    width: 233px;
height: 27px;
text-align: left;
font: normal normal 300 16px/50px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
position: absolute;
right: 301px;
bottom:98px;

}
#ele14{
    width: 233px;
height: 27px;
text-align: left;
font: normal normal 300 16px/50px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
position: absolute;
right: 301px;
bottom: 49px;
}
#ele15{
    width: 24px;
height: 30px;
right: 553.63px;
bottom: 170.74px;
position: absolute;
}
#ele16{
    width: 25px;
height: 25px;
    right: 552.88px;
    bottom: 89.52px;
    position: absolute;
}
#ele17{
    width: 28px;
height: 21px;
    right: 549.85px;
    bottom: 42px;
    position: absolute;
}
#ele18{
    width: 15px;
height: 15px;
background: #21B3FF 0% 0% no-repeat padding-box;
position: absolute;
right: 558.09px;
bottom: 180.08px;
}

